$mainColor:  #f5df4e;
body {
    font-family: 'Poppins', sans-serif;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.manu_top {
    height: 60px;
    
        list-style-type: none;
        a {
            text-decoration: none;
            color: black;
            text-transform: capitalize;
            font-weight: 700;
           

            &:hover{
               color: #f5df4e;
            }
            
            
        }

        strong {
            font-size: 23px;
        }
    
}

.slide {
    height: 100vh;
    background-color:  #f5df4e;
}

.myPic {
    width: 300px;
    height: 300px;
    // border: 5px solid black;
    outline: 20px solid white;
    border-radius: 50%;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        
    }
}

.line-1{
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);   

}

.t2 {
    font-size: 35px;
    
}


.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 17em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }


.me {
    font-weight: 900;
    

    &::after {
        content: '';
        display: flex;
        width: 100%;
        height: 5px;
        background-color: #f5df4e;
    }

  
}

.years {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 130px;
    background-color: #f5df4e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: rgb(49, 49, 49);
}

.know {
    font-weight: 900;
    font-size: 30px;
}

.skill {
    height: 100%;
    padding: 40px;
}

.skilltxt {
    font-size: 25px;
    font-weight: 900;
}

.bgColor {
    background-color: #f5df4e;
    color: black;
    font-weight: 900;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    
}

.bgContainer {
    background-color: rgb(248,249,250);
}

.progress {
    margin: 25px 0;
}

.glFig {
    width: 350px;
    height: 350px;
    transition: 1s;
    border: 2px solid black;
    
    >img {
        width: 100%;
        height: 100%;
    }

    

   
    
    
}

.bgContainer2 {
    background-color: #f5df4e;
}

.footer{
    background-color: #000000;
    color: white;
    height: 50px;
    
}

